/* curly brackets for use {} */
option {
  padding:20px; 
  }

        /* first section project */
  section{
    width:500px;
    height:250px;
    margin:10px auto;
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  .firstsection{
    background-color:rgba(247, 205, 68, 0.801); 
  }
  .firstsection select{
    background-color:rgb(48, 49, 56);
    border-radius:5px;
    font-size:12px;
    color:white;
    text-align:center;
    width:250px;
    height:40px;
    border:none;
  }

    /* second section project */
    .secondsection {
    background:linear-gradient(rgb(219, 193, 243) , rgb(245, 179, 167)); 
  }
  .secondsection select{
    font-size:12px;
    color:rgb(128, 128, 128);
    width:90%;
    height:30px;
    border:none;
    margin:20px;
  }
 
    /* third section project */

     .thirdsection {
    background-color:rgb(32, 32, 32);
  } 
  .thirdsection h2{
   color:white;
  }
  .thirdsection  select{
    font-size:15px;
    padding-left:70px;
    background-color:rgb(49, 49, 49);
    color:rgb(128, 128, 128);
    border:none;
    width:370px;
    height:50px;
    position:absolute;

  }
  .gradientdiv {
    background-color:black;
    width:380px;
    height:60px;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0px;
  } 
  .gradientdiv::before{
    content:" ";
    background:linear-gradient( #ff417d , #d969ff , rgb(247, 236, 93) );
    width:400px;
    height:400px;
    border-radius:50%;
    animation-name:rotationdiv;
    animation-iteration-count:infinite;
    animation-duration:2s;
    margin:-10px;
  }
 
@keyframes rotationdiv {
0%{
  transform:rotate(0deg);
}
100%{
  transform:rotate(360deg);
}
}


/* fourth section project  */
.fourthsection{
    background-color:rgb(65, 65, 65); 
    color:white;
  }
  .fourthsection select{
    background-color:rgb(65, 65, 65); 
    font-size:15px;
    text-align:center;
    color:rgb(128, 128, 128);
    width:300px;
    height:50px;
    border:none;
    margin:20px;
    border-bottom:6px solid;
    animation:bordergradient 3s infinite;
    border-radius:20px 20px;
  }
  .fourthsection select:hover{
    box-shadow: inset 10px 0px 15px black;
    font-size:13px;
  }
  @keyframes bordergradient {
0%{ border-color:hotpink ; }
20%{ border-color:tomato ; }
40%{ border-color:rgb(255, 237, 71) ; }
60%{ border-color:rgb(97, 247, 92) ; }
80%{ border-color:rgb(82, 94, 252) ; }
100%{ border-color:rgb(255, 71, 194) ; }

  }

/* fifthsection project */
.fifthsection {
  margin-bottom:25px;
  background-color:rgb(11, 50, 77);
  color:white;
}
.fifthselect {
color:white;
border:none;
width:250px;
height:50px;
font-size:20px;
margin-top:30px;
text-align:center;
border-radius:25px;
background-color:rgb(11, 50, 77);
box-shadow: 2px 1px 5px rgb(35, 78, 109) ,  -2px -4px 5px rgb(8, 37, 58);

}
.fifthselect:hover{
box-shadow: inset 2px 4px 5px rgb(8, 37, 58), inset -2px -1px 5px rgb(35, 78, 109);
font-size:18px;
text-shadow: 0px 0px 5px rgb(61, 203, 247) ,
             3px 0px 5px rgb(40, 159, 206) , 
            -3px 0px 5px rgb(26, 137, 180) , 
             6px 0px 5px rgb(51, 169, 216) ,
             -6px 0px 5px rgb(51, 169, 216) ;
transition:3s text;
}